<div class="w-1/2 bg-slate-100 rounded px-4 py-2 mb-2">
  <div class="mx-auto">
    <p class="font-bold text-xl"><%= comment.commenter %> said:</p>
  </div>

  <div class="mx-auto">
    <p class="text-lg"><%= comment.body %></p>
  </div>
</div>